header
    .container
        include nav
        .__box
            img.svg-figure-dims#head_left(src="@img/icons/icons.svg#figure" alt="figure")
            img.svg-figure6-dims(src="@img/icons/icons_figure.svg#figure6" alt="figure6")
            img.svg-figure-dims#head_right(src="@img/icons/icons.svg#figure" alt="figure")
            img.svg-human0-dims(src="@img/icons/icons_bust.svg#human0" alt="human0")
            img.svg-figure5-dims(src="@img/icons/icons_figure.svg#figure5" alt="figure6")
            img.svg-human3-dims(src="@img/icons/icons_bust.svg#human3" alt="human3")
        .__title
            h4
                span.__figure
                span NFT Collection
            h1
                span Bored
                span NFT Peeps
            p Tempor interdum sed nisl aliquam ut orci feugiat neque. Nibh amet proin in tristique. Ipsum morbi adipiscing faucibus eu odio in tellus risus.
            a.__btn.__btn-pink(href='#') OpenSea

