footer {
    background-color: $color-blue-l;
    text-align      : left;

    .container {
        position             : relative;
        display              : -ms-grid;
        display              : grid;
        -ms-grid-columns     : 70% 30%;
        grid-template-columns: 70% 30%;
    }

    .__social,
    .__link {
        border-top   : 1px rgba(64, 71, 86, 0.6) solid;
        border-bottom: 1px rgba(64, 71, 86, 0.6) solid;
    }

    .__social {
        -ms-grid-column      : 1;
        grid-column-start    : 1;
        display              : -ms-grid;
        display              : grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 25%));
    }

    .__link {
        -ms-grid-column      : 2;
        grid-column-start    : 2;
        -ms-grid-row         : 2;
        grid-row-start       : 2;
        display              : -webkit-box;
        display              : -ms-flexbox;
        display              : flex;
        -webkit-box-orient   : vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction   : column;
        flex-direction       : column;

        li {
            padding: 0.25rem 0;
        }
    }

    .__copy {
        display              : -ms-grid;
        display              : grid;
        -ms-grid-columns     : 30% 30%;
        grid-template-columns: 30% 30%;
        font-size            : 14px;
    }

    .__title {
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        -webkit-box-align: start;
        -ms-flex-align   : start;
        align-items      : flex-start;
    }

    .svg-figure6-dims {
        position         : absolute;
        top              : -5rem;
        left             : -10rem;
        -webkit-transform: scale(-1, 1) scaleX(0.8) scaleY(1.5) rotate(180deg);
        -ms-transform    : scale(-1, 1) scaleX(0.8) scaleY(1.5) rotate(180deg);
        transform        : scale(-1, 1) scaleX(0.8) scaleY(1.5) rotate(180deg);
    }

    h2 {
        z-index   : 2;
        text-align: left;
    }

    ul {
        padding: 0;
    }

    a {
        color          : $color-text;
        text-decoration: none;
    }
}