.svg-couple-dims {
    width : 297px;
    height: 427px;
}

.svg-figure-dims {
    width : 532px;
    height: 492px;
}

.svg-figure5-dims {
    width : 245px;
    height: 251px;
}

.svg-figure6-dims {
    width : 245px;
    height: 182px;
}

.svg-human0-dims {
    width : 345px;
    height: 509px;
}

.svg-human1-dims {
    width : 201px;
    height: 284px;
}

.svg-human2-dims {
    width : 198px;
    height: 289px;
}

.svg-human3-dims {
    width : 194px;
    height: 291px;
}

.svg-human4-dims {
    width : 197px;
    height: 308px;
}

.svg-human5-dims {
    width : 200px;
    height: 297px;
}

.svg-human6-dims {
    width : 198px;
    height: 286px;
}

.svg-human7-dims {
    width : 194px;
    height: 282px;
}

.svg-human8-dims {
    width : 198px;
    height: 279px;
}

.svg-human9-dims {
    width : 192px;
    height: 285px;
}

.svg-logo-dims {
    width : 69px;
    height: 74px;
}

.svg-shadow-dims {
    width : 294px;
    height: 33px;
}

.svg-sitting-dims {
    width : 231px;
    height: 370px;
}

.svg-standing-dims {
    width : 186px;
    height: 424px;
}