$ff__main    : OpenSans;
$ff__main-b  : OpenSansBold;
$ff__title   : Montserrat;
$ff__title-b : MontserratBold;

$color-active : #FDDBE2;
$color-brand  : #FFDBB4;
$color-text   : #404756;
$color-text-b :#222222;

$color-pink   : #F7859C;
$color-pink-l : #FBF1E6;
$color-blue   : #9093D1;
$color-blue-l : #D3D4ED;
$color-orange : #FF8961;
$color-green  : #9FD8E5;

$rate : 100%;
$px   : 10px;