doctype html 
html(lang='en')
    head 
        include html/head 
        title NFT Peeps
    body 
        main
            include html/header 
            include html/section 
            include html/footer 
        include html/script 